<div class="header">
    <h2>CodingDojo Wall</h2>
    <h2>Hello <%= @user.username %>!</h2>
    <h2><a href="/logout">Log Out</a></h2>
</div>

<div class="message">
    <% if flash[:errors] %>
        <% flash [:errors].each do |error| %>
            <h4><%= error %> </h4>
        <% end %>
    <% end %>

    <form action = "/messages/new" method = "post">
      <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
      <input type = "text" name = "message[message]" id = "message">  
      <input type = "submit" value = "Post a Message">
    </form>

        <% @messages.each do |message| %>
            <p><%=message.user.username%>, <%=message.created_at%></p>
            <p><%=message.message%></p> 
            <% message.comments.each do |comment| %>
                <p><%=comment.message.user.username%>, <%=comment.created_at%></p>
                <p><%=comment.comment%></p> 
            <% end %>
        <% end %>


        <form action = "messages/#{message.id}" method = "post">
            <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
            <input type = "text" name = "comment[comment]" id = "message">  
            <input type = "submit" value = "Post a Comment">
        </form>     
</div>