<div class="header">
    <h2>CodingDojo Wall</h2>
    <h2>Hello <%= @user.username %>!</h2>
    <h2><a>Log Out</a></h2>
</div>

<div class="wrapper">
   <h1>Post a Message</h1>
    <% if flash[:errors] %>
        <% flash [:errors].each do |error| %>
            <h4><%= error %> </h4>
        <% end %>
    <% end %>


    <h2>Post a Message</h2>
    <form action = "message" method = "post">
      <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
      <input type = "text" name = "message" id = "message">  
      <input type = "submit" value = "Post a Message">
    </form>

    <% @messages.each do |message| %>
        <div class="message">
            <p> <%=@user.username%> - <%=@message.created_at %></p>
            <p><%=@message.message%></p>
        </div>
    <% end %>

</div>
